* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  padding-top: 3rem;
}

.numbers {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin: 2rem 0;
}

.numbers div {
  width: 3rem;
  height: 3rem;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: bold;
}

button {
  background-color: #ddd;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

button:hover {
  background-color: #111;
  color: #fff;
}

.list {
  width: 200px;
  margin-top: 2rem;
}

.list p {
  border-bottom: 1px solid #ccc;
  font-size: 1.4rem;
  padding: 0.6rem 0;
  text-align: center;
}
